/* ブラウザがそれぞれ持っているCSSをリセットするための記述 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #6c6b6b;
}

header {
  height: 50px;
  background-color: #ff9a4b;
}

footer {
  height: 50px;
  background-color: #aaaaaa;
}

.step {
  background-color: #ff9a4b;
  position: absolute; /* headerの左上を基準に絶対位置で指定する */
  color: #fff; /* 文字色を白に変更 */
}
.box {
  padding: 50px 0;
  width: 960px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.box-item {
  width: 300px;
  background-color: #eeeeee;
  margin-right: 30px;
}

.image {
  padding: 10px;
  height: 150px;
}

.image:first-child {
  background-image: url(./img/flow01.png);
}

.image-item:nth-child(2) {
  background-image: url(./img/flow02.png);
}

.image-item:last-child {
  margin-right: 0;
  background-image: url(./img/flow03.png);
}

.midashi {
  padding-top: 5px;
}

.honbun {
  padding-top: 5px;
}
